**Id:** 55031 **Nome:** RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI<br>
**Id:** 52662 **Nome:** CÁLCULO DIFERENCIAL E INTEGRAL I<br>
**Id:** 55022 **Nome:** FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO I<br>

In [115]:
import numpy as np
import pandas as pd

In [116]:

def TratarDfVaziosProf(df):
    if(df.empty):
        df = pd.DataFrame()
        df = df.append({'id_servidor':0, 'nome':'vazio', 'formacao':'vazio', 'tipo_jornada_trabalho':'vazio', 'vinculo':'vazio', 'classe_funcional':'vazio', 'lotacao': 'vazio'}, ignore_index=True)
        return df
    return df

In [117]:
pd_disc = pd.read_csv('disciplinas.csv')
#pd_disc.iloc[0]
pd_disc

   id_disc cod_disc                                   nome_disc  hora_disc
0    55031  IMD0019  RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI        180
1    52662  IMD0024            CÁLCULO DIFERENCIAL E INTEGRAL I         90
2    55022  IMD0028     FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO I         90

In [118]:
pd_turmas2017_1 = pd.read_csv('turmas-2017.1.csv', error_bad_lines = False, warn_bad_lines = False, encoding = "utf-8", sep=";", usecols=['id_turma', 'codigo_turma', 'id_docente_interno', 'id_componente_curricular', 'local', 'ano', 'periodo', 'descricao_horario', 'total_solicitacoes', 'capacidade_aluno', 'situacao_turma'])
pd_turmas2017_1.head(3)

,id_turma,codigo_turma,id_docente_interno,id_componente_curricular,local,ano,periodo,descricao_horario,total_solicitacoes,capacidade_aluno,situacao_turma
0,57593168,1,26652.0,61150,Sala 24,2017,1,2T12,NaN,50.0,CONSOLIDADA
1,57593169,2,21707.0,61150,Sala 24,2017,1,4T12,NaN,50.0,CONSOLIDADA
2,57593170,1,21707.0,61152,Sala 24,2017,1,3T56,0.0,50.0,EXCLUÍDA

In [119]:
pd_docentes = pd.read_csv('docentes.csv', encoding = "utf-8", sep=";", usecols=['id_servidor', 'nome', 'formacao', 'tipo_jornada_trabalho', 'vinculo', 'classe_funcional', 'lotacao'])
pd_docentes.head(3)

,id_servidor,nome,formacao,tipo_jornada_trabalho,vinculo,classe_funcional,lotacao
0,21041,GILDETE AZEVEDO,DESCONHECIDA,Dedicação exclusiva,Ativo Permanente,C ...,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA
1,5753261,MARIA NUBIA PESSOA,ESPECIALIZAÇÃO,Dedicação exclusiva,Ativo Permanente,D ...,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA
2,5752617,RUTILENE SANTOS DE SOUSA,MESTRADO,Dedicação exclusiva,Ativo Permanente,D ...,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA

In [120]:
frames = []
for index_pd_disc, row_pd_disc in pd_disc.iterrows():

    id_disc = row_pd_disc['id_disc']
    list_turmas = pd_turmas2017_1[pd_turmas2017_1['id_componente_curricular'] == id_disc] # filtra todas as turmas com o id da disciplina
    list_turmas_disc = list_turmas.assign(nome_disc=row_pd_disc['nome_disc']) # add uma coluna com o nome da disciplina

    listProf = []
    for index, row in list_turmas_disc.iterrows():
        prof = pd_docentes[pd_docentes['id_servidor'] == row["id_docente_interno"]]
        listProf.append(TratarDfVaziosProf(prof))

    df_profs = pd.concat(listProf)
    list_turmas_disc_prof = list_turmas_disc.assign(
        nome_prof = df_profs['nome'].tolist(),
        id_prof = df_profs['id_servidor'].tolist(),
        formacao_prof = df_profs['formacao'].tolist(),
        tipo_jornada_trabalho_prof = df_profs['tipo_jornada_trabalho'].tolist(),
        vinculo_prof = df_profs['vinculo'].tolist(),
        classe_funcional_prof = df_profs['classe_funcional'].tolist(),
        lotacao_prof = df_profs['lotacao'].tolist())
    frames.append(list_turmas_disc_prof)

result = pd.concat(frames) # concatena todos os dataframes
result.to_csv('turma_professor_2017_1.csv', encoding='UTF-8')
result.head(5)

,id_turma,codigo_turma,id_docente_interno,id_componente_curricular,local,ano,periodo,descricao_horario,total_solicitacoes,capacidade_aluno,situacao_turma,nome_disc,classe_funcional_prof,formacao_prof,id_prof,lotacao_prof,nome_prof,tipo_jornada_trabalho_prof,vinculo_prof
4880,57597051,1,5757585.0,55031,B203 - CIVT,2017,1,246M3456 (13/02/2017 - 01/07/2017),22.0,83.0,CONSOLIDADA,RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI,vazio,vazio,0.0,vazio,vazio,vazio,vazio
4881,57597051,1,5756816.0,55031,B203 - CIVT,2017,1,246M3456 (13/02/2017 - 01/07/2017),22.0,83.0,CONSOLIDADA,RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI,DIII ...,MESTRADO,5756816.0,INSTITUTO METROPOLE DIGITAL,ALYSON MATHEUS DE CARVALHO SOUZA,Dedicação exclusiva,Ativo Permanente
4888,57597055,2,5756816.0,55031,B204 - CIVT,2017,1,246M3456 (13/02/2017 - 01/07/2017),16.0,81.0,CONSOLIDADA,RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI,DIII ...,MESTRADO,5756816.0,INSTITUTO METROPOLE DIGITAL,ALYSON MATHEUS DE CARVALHO SOUZA,Dedicação exclusiva,Ativo Permanente
4889,57597055,2,5759154.0,55031,B204 - CIVT,2017,1,246M3456 (13/02/2017 - 01/07/2017),16.0,81.0,CONSOLIDADA,RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI,vazio,vazio,0.0,vazio,vazio,vazio,vazio
4891,57597057,3,5756386.0,55031,B204,2017,1,246T1234 (13/02/2017 - 01/07/2017),50.0,89.0,CONSOLIDADA,RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI,Classe C - Adjunto ...,DOUTORADO,5756386.0,INSTITUTO METROPOLE DIGITAL,CHARLES ANDRYE GALVAO MADEIRA,Dedicação exclusiva,Ativo Permanente

In [122]:
url = 'http://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/79071c21-e32c-438f-b930-d1b6ccc02ec2/download/matricula-componente-20171.csv'
pd_alunos_2017_1 = pd.read_csv(url, encoding = "utf-8", sep=";")
pd_alunos_2017_1.head(3)

,id_turma,discente,id_curso,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao
0,57600868,a4a014ab217b40735e3caef890a56eee,4970.0,1.0,0.0,f,0.0,0.0,0.0,REPROVADO
1,57600868,a4a014ab217b40735e3caef890a56eee,4970.0,2.0,0.0,f,0.0,0.0,0.0,REPROVADO
2,57600868,89dba505ee16aab34cd076ab247459fa,4970.0,1.0,0.0,f,0.0,0.0,0.0,REPROVADO

In [123]:
frames = []
for item in result['id_turma'].unique():
    df_alunos = pd_alunos_2017_1[pd_alunos_2017_1['id_turma'] == item]
    frames.append(df_alunos)
df_alunos = pd.concat(frames) # concatena todos os dataframes
df_alunos.to_csv('alunos_2017_1.csv', encoding='UTF-8')
df_alunos.head(5)

,id_turma,discente,id_curso,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao
136535,57597051,585a86076d71152014a6dd7fee234bd0,92127264.0,3.0,2.5,t,0.0,5.0,10.0,APROVADO POR NOTA
136536,57597051,585a86076d71152014a6dd7fee234bd0,92127264.0,2.0,5.0,f,0.0,5.0,10.0,APROVADO POR NOTA
136537,57597051,585a86076d71152014a6dd7fee234bd0,92127264.0,1.0,5.5,f,0.0,5.0,10.0,APROVADO POR NOTA
136538,57597051,4aa63133c963bd0936a731846d0be1b6,92127264.0,3.0,7.3,f,0.0,7.3,8.0,APROVADO
136539,57597051,4aa63133c963bd0936a731846d0be1b6,92127264.0,2.0,9.3,f,0.0,7.3,8.0,APROVADO